<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <script src="../public/js/jquery/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/style.css">
  <!-- Linea de codigo para utilizar las animaciones de la libreria de AOS Animation -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <title>DAL Gaming</title>
  <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
  <link rel="icon" href="../img/LogoGamer.webp" type="image/x-icon" alt="ImgNoEncontrada">
  <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
</head>

<body class="fondoYLetra">
  <!--Container De Nav-->
  <nav class="navbar navbar-expand-lg navbar-synthwave">
    <div class="container-fluid">
      <a href="../index.html"><img class="navbar-brand" src="../img/LogoGamer.webp" width="45rem" alt="ImgNoEncontrada" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="./img/IconoDeNav.webp" width="25rem" alt="" /></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-4 mt-1">
            <a class="btn" href="#Seccion1">
              <h5 class="ms-2 mt-2 text-white"><b><img src="./img/IconoDeAcercaDeNosotros.png" class="img-fluid" width="45rem" alt="">PC</b></h5>
            </a>
          </li>
          <li class="nav-item ms-4 mt-1">
            <a class="btn" href="#Seccion2">
              <h5 class=" ms-2 mt-2 text-white"><b><img src="./img/IconoDeProductos.png" class="img-fluid" width="45rem" alt="" srcset="">Xbox</b></h5>
            </a>
          </li>
          <li class="nav-item ms-4 mt-1">
            <a class="btn" href="#Seccion3">
              <h5 class=" ms-2 mt-2 text-white"><b><img src="/img/IconoDeContacto.png" class="img-fluid" width="25rem" alt="" srcset="">PS</b></h5>
            </a>
          </li>
          <li class="nav-item ms-4 mt-1">
            <a class="btn" href="#Seccion4">
              <h5 class=" ms-2 mt-2 text-white"><b><img src="/img/IconoDeContacto.png" class="img-fluid" width="25rem" alt="" srcset="">Switch</b></h5>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Container De Nav-->
  <!--Nota: Esto Esta Fuera Del Container Para Hacerlo Amplio-->
  <!--Carousel-->
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/Valorant.webp" height="670" width="1510" class="d-block w-100" alt="ImgNoEncontrada">
      </div>
      <div class="carousel-item">
        <img src="../img/PlayStation.webp" height="670" width="1510" class="d-block w-100" alt="ImgNoEncontrada">
      </div>
      <div class="carousel-item">
        <img src="../img/Xbox.webp" height="670" width="1510" class="d-block w-100" alt="ImgNoEncontrada">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Carousel-->
  <!--Nota: Esto Esta Fuera Del Container Para Hacerlo Amplio-->

  <!--Container De ID Son 4 Secciones-->
  <div class="container mt-4">
    <!--Seccion1-->
    <div class="row mt-4 mb-4">
      <div id="Seccion1" class="div">
        <!--Espacio De Trabajo-->
        <h1 class="text-white text-center mt-4 mb-4" data-aos="zoom-in"><b>Juegos de PC</b></h1>
        <!--Espacio De Card Contenido De VideoJuegos-->
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4 mb-4">
          <!--Primera Fila De 4 Card-->
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/EldenRing.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Elder Ring</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Elden Ring es un videojuego de rol, aventura y acción de FromSoftware y Bandai Namco, 
                  creado por Hidetaka Miyazaki y George R.R. Martin. 
                  El juego amplía la jugabilidad de Dark Souls en un mundo más grande y complejo. </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Half-Life-Alyx.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Half-Life Alyx</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Half-Life: Alyx es un shooter de realidad virtual que sirve como precuela de Half-Life 2, 
                  sigue la historia de Alyx Vance luchando contra los Combine.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Baldur's-Gate3.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Baldur's Gate 3</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Baldur's Gate 3 es la tercera entrega de la saga de rol, 
                  desarrollada por Larian Studios con promesas de fidelidad a Dragones y Mazmorras.
                </h6> 
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Portal-2.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Portal 2</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Portal 2 es la secuela del exitoso juego de puzles de Valve. 
                  Con modo cooperativo y un diseño ingenioso, se destaca como uno de los mejores juegos del género.
                </h6>
              </div>
            </div>
          </div>
          <!--Primera Fila De 4 Card-->

           <!--Segundo Fila De 4 Card-->
           <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Minecraft.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Minecraft</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Minecraft es un juego de construcción sandbox creado por Markus Persson, 
                  también conocido como "Notch", y desarrollado por Mojang Studios. 
                  Se destaca por su mundo abierto y su falta de un objetivo definido.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/prince-persia-lost-crown.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Prince of Persia: The Lost Crown</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  Prince of Persia: The Lost Crown es un juego de plataformas de acción 2D para 
                  PC que ofrece una experiencia emocionante en un mundo inspirado en la mitología persa, 
                  con mecánicas de manipulación del tiempo y el espacio.               
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/The-Thaumaturge.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>The Thaumaturge</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  The Thaumaturge es un RPG para PC y consolas que se desarrolla en la Varsovia del siglo XX, 
                  donde los jugadores enfrentan decisiones morales y controlan seres místicos llamados Salutors.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/children-of-the-sun-keyart.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Children of the Sun</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  Children of the Sun es un juego de disparos táctico y de puzles para PC, 
                  donde los jugadores controlan una bala en su búsqueda de venganza contra una secta maligna. 
                  Desarrollado por René Rother y publicado por Devolver Digital.
                </h6>
              </div>
            </div>
          </div>
          <!--Segunda Fila De 4 Card-->
        </div>
        
        <!--Espacio De Card Contenido De VideoJuegos-->

        <!--Espacio De Trabajo-->
      </div>
    </div>
    <!--Seccion1-->

    <!--Seccion2-->
    <div class="row mt-4 mb-4">
      <div id="Seccion2" class="div">
        <!--Espacio De Trabajo-->
        <h1 class="text-white text-center mt-4 mb-4" data-aos="zoom-in"><b>Juegos de Xbox</b></h1>
        <!-- Espacio de las primeras 4 cards -->
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4 mb-4">
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Hi-fi-Rush.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Hi-Fi Rush</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Hi-Fi Rush es un videojuego tipo hack and slash que combina mecánicas de ritmo y plataformas. 
                  Fue desarrollado por Tango Gameworks y publicado por Bethesda Softworks, 
                  disponible para Microsoft Windows y Xbox Series X/S. 
                </h6>
              </div>
            </div>
          </div> 
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/hogwarts-legacy.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Hogwarts Legacy</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Hogwarts Legacy es un juego de rol inmersivo en mundo abierto, inspirado en la saga Harry Potter. 
                  Ambientado en el Hogwarts del siglo XIX, permite al jugador ser un estudiante que guarda un secreto capaz de destruir el 
                  mundo mágico, poniendo al jugador en el centro de su propia aventura.
                </h6>
              </div>
            </div>
          </div> 
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/atomic-heart.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Atomic Heart</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Atomic Heart es un videojuego FPS de mundo semiabierto con elementos de rol de acción. 
                  El combate incluye disparos y peleas cuerpo a cuerpo contra una variedad de enemigos mecánicos, 
                  biomecánicos y biológicos, como robots y mutantes.
                </h6>
              </div>
            </div>
          </div> 
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/star-wars-jedi-survivor.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Star Wars Jedi: Survivor</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Star Wars Jedi: Survivor es un juego de acción y aventura en tercera persona de Respawn Entertainment, desarrollado con Lucasfilm Games. 
                  Continuando la historia de Cal Kestis cinco años después de Star Wars Jedi: La Orden Caída, 
                  el juego sigue su lucha en una galaxia cada vez más dominada por la oscuridad.
                </h6>
              </div>
            </div>
          </div> 
          <!-- Fin de las primeras 4 cards -->

          <!-- Inicio de las segundas 4 cards -->
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Sifu-PiviGames.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Sifu</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  Sifu es un videojuego beat 'em up roguelike de Sloclap. 
                  Ambientado en la China moderna, sigue al hijo de un maestro de artes marciales que busca vengar la muerte de su padre.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Street-Fighter-6.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Street Fighter 6</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  Street Fighter 6 permite a los jugadores viajar por el mundo para medir su habilidad y buscar su fuerza interior. 
                  Todos comienzan desde abajo, y ahora es tu turno de aceptar el reto y mejorar tu juego.               
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Starfield.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Starfield</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  En un juego de rol de próxima generación ambientado en el espacio, 
                  crea tu propio personaje y explora con total libertad mientras te sumerges en una aventura épica para resolver 
                  el mayor misterio de la humanidad.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Forza-Motorsport-Pivigames.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Forza Motorsport</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  Forza Motorsport es un videojuego de simulación de carreras desarrollado por Turn 10 Studios y publicado por Xbox Game Studios. 
                  Es la decimotercera entrega de la serie Forza, disponible en Windows y Xbox Series X/S, 
                  y reinicia la subserie abandonando la numeración secuencial.
                </h6>
              </div>
            </div>
          </div>
          <!-- Fin de las segundas 4 cards -->
        </div>
        <!--Espacio De Trabajo-->
      </div>
    </div>
    <!--Seccion2-->

    <!--Seccion3-->
    <div class="row mt-4 mb-4">
      <div id="Seccion3" class="div">
        <!--Espacio De Trabajo-->
        <h1 class="text-white text-center mt-4 mb-4" data-aos="zoom-in"><b>Juegos de PS</b></h1>

        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4 mb-4">
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/GOW.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>God of War</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  God of War para PS4 reinventa a Kratos en una ambientación nórdica y con un enfoque más maduro, 
                  donde él es un padre en un entorno hostil, tratando de olvidar su pasado.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/FF7-Remake.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Final Fantasy VII Remake </b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  El remake de 'Final Fantasy VII' para PS4 mejora gráficos, 
                  añade detalles a la historia y modifica el sistema de batallas y exploración, desarrollado por el equipo original.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Resident-Evil-2-Remake.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Resident Evil 2 Remake</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  'Resident Evil 2 Remake' actualiza el clásico survival horror en su 20 aniversario para PS4, 
                  ofreciendo una perspectiva jugable, estilo y ambientación renovados. 
                  Conserva la esencia del juego original mientras introduce cambios técnicos y artísticos ambiciosos.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/SpidermanPs4.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Spiderman</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  'Spider-Man' para PS4, desarrollado por Insomniac Games y producido por Sony, 
                  es un juego de acción de mundo abierto ambientado en Nueva York, donde el jugador puede explorar libremente la ciudad 
                  y disfrutar del icónico personaje.
                </h6>
              </div>
            </div>
          </div>
           <!-- Inicio de otras 4 cards -->
        <div class="col">
          <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
            <img src="../img/tekken-8.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title text-center"><b>Tekken 8</b></h4>
              <hr size="8px" color="black"/>
              <h6 class="card-text text-center">
                'Tekken 8', de Bandai Namco con Unreal Engine 5 para PS5, 
                presenta modelos de personajes HD con pelo y piel detallados, y 
                gráficos inmersivos que reflejan movimientos musculares realistas en combate.
              </h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
            <img src="../img/StellarBlade.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title text-center"><b>Stellar Blade</b></h4>
              <hr size="8px" color="black"/>
              <h6 class="card-text text-center">
                En "Stellar Blade", Eve y su equipo llegan a una Tierra desolada y conocen a Adam, quien los lleva a Xion, 
                último bastión humano. Allí, interactúan con diversos personajes, 
                incluido Orcal, mientras Eve forja lazos y ayuda a reconstruir la ciudad para salvar el planeta.
              </h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
            <img src="../img/HellDivers2.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title text-center"><b>Helldivers II</b></h4>
              <hr size="8px" color="black"/>
              <h6 class="card-text text-center">
                "Helldivers II" es un shooter de acción de Arrowhead Game Studios y Sony Interactive Entertainment para 
                PC y PS5, donde los jugadores encarnan a soldados pacificadores galácticos.
              </h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
            <img src="../img/Sekiro-Shadows-Die-Twice.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title text-center"><b>Sekiro: Shadows Die Twice</b></h4>
              <hr size="8px" color="black"/>
              <h6 class="card-text text-center">
                "Sekiro: Shadows Die Twice", de FromSoftware y dirigido por Hidetaka Miyazaki, es un juego de rol, 
                acción y sigilo ambientado en el Japón feudal para PS4. 
                Miyazaki, conocido por crear géneros propios, ofrece una experiencia única en esta aventura.
              </h6>
            </div>
          </div>
        </div>
        <!-- Fin de las otras 4 cards -->
        </div>

       
        <!--Espacio De Trabajo-->
      </div>
    </div>
    <!--Seccion3-->

    <!--Seccion4-->
    <div class="row mt-4 mb-4">
      <div id="Seccion4" class="div">
        <!--Espacio De Trabajo-->
        <h1 class="text-white text-center mt-4 mb-4" data-aos="zoom-in"><b>Juegos de Switch</b></h1>

        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4 mb-4">
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Paper-Mario-la-puerta-milenaria.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Paper Mario: La Puerta Milenaria</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  En Paper Mario: La Puerta Milenaria, Mario transforma su forma para superar desafíos y rescatar a 
                  Peach en un mundo lleno de obstáculos. 
                  Debe encontrar Cristales Estrellas y enfrentarse a viejos amigos y enemigos. Disponible en GameCube y Switch. 
                </h6>
              </div>
            </div>
          </div> 
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/mario-vs-dk.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Mario vs. Donkey Kong</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  En Mario vs. Donkey Kong para Switch, Nintendo revive la rivalidad clásica con gráficos actualizados. 
                  Este juego de acción y puzles desafía a los jugadores a resolver diversos acertijos y demostrar sus habilidades 
                  en plataformas para recuperar los Minimarios sustraídos.
                </h6>
              </div>
            </div>
          </div> 
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Splatoon3.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Splatoon 3: La cara del orden</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  En Splatoon 3: La cara del orden para Switch, juegas como Agente 8 en una Cromópolis sin color. Con Perla como dron, 
                  escalas la Torre del Orden, mejorando tus habilidades en una experiencia para un jugador rejugable y desafiante.
                </h6>
              </div>
            </div>
          </div> 
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/princess-peach-showtime.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center"><b>Princess Peach: Showtime!</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  En Princess Peach: Showtime! para Switch, la princesa Peach debe luchar 
                  contra la malvada Grape y la Compañía Malaúva para salvar el Teatro Esplendor y su espectáculo.
                </h6>
              </div>
            </div>
          </div> 
          <!-- Fin de las primeras 4 cards -->

          <!-- Inicio de las segundas 4 cards -->
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/Gundam-Breaker4.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Gundam Breaker 4</b></h4>
                <hr size="8px" color="black" />
                <h6 class="card-text text-center">
                  En Gundam Breaker 4 para PC, Switch, PlayStation 4 y PlayStation 5, desarrollado por Crafts & Meister y Bandai Namco Entertainment, 
                  puedes crear y personalizar tu propio Gunpla, enfrentándolo a desafiantes misiones de combate en el universo Gundam.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/reynatis.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Reynatis</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  En Reynatis, RPG de acción de FuRyu, Natsume Atari y NIS America para PC, Switch, PS4 y PS5,
                  fantasía y realidad colisionan en Shibuya. Un joven mago busca libertad,
                   mientras un oficial lucha por controlar la magia y restaurar el orden, desencadenando una oscuridad transformadora.            
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/TLOZ-tears-of-the-kingdom.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>The Legend of Zelda: Tears of the Kingdom</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  Tears of the Kingdom, la secuela de Breath of the Wild para Nintendo Switch, protagonizada por Link, 
                  presenta una aventura en mundo abierto en Hyrule. 
                  Ofrece nuevas mecánicas de fusión de objetos y armas, zonas aéreas para explorar y más acción y rol.
                </h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom borde-verde-neon" data-aos="zoom-in">
              <img src="../img/mh-rise-sunbreak.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><b>Monster Hunter Rise: Sunbreak</b></h4>
                <hr size="8px" color="black"/>
                <h6 class="card-text text-center">
                  Monster Hunter Rise: Sunbreak, expansión de Capcom para Switch, continúa la historia del juego original. 
                  Presenta una nueva región, permite reclutar cazadores para misiones contra nuevas bestias y ofrece un desafiante Rango Maestro.
                </h6>
              </div>
            </div>
          </div>
          <!-- Fin de las segundas 4 cards -->
        </div>
        <!--Espacio De Trabajo-->
      </div>
    </div>
    <!--Seccion4-->
  </div>
  <!--Container Footer-->
  <div class="shadow-lg border-1">
    <hr class="text-white">
    <!-- Logos juntos en vista móvil -->
    <div class="container d-flex flex-column justify-content-center align-items-center d-md-none mb-4">
      <div class="d-flex justify-content-center mb-3">
          <img src="../img/LogoPrincipal.webp" width="100rem" class="img-fluid mt-2 mb-2 mr-2" alt="Logo Principal">
          <img src="../img/LogoGamer.webp" width="100rem" class="img-fluid mt-2 mb-2 ml-2" alt="Logo Gamer">
      </div>
      <div class="text-center mb-3">
          <h5 class="text-white mb-0"><b>DAL Gaming</b></h5>
          <h6 class="text-white mt-1 mb-2">Descubre el maravilloso del gaming.</h6>
      </div>
      <div class="text-center mb-3">
          <h5 class="text-white mb-0"><b>TecNM Campus Milpa Alta II</b></h5>
          <h6 class="text-white mt-1 mb-2">DAL Gaming - Todos los Derechos Reservados</h6>
      </div>
  </div>
    <!-- Logos separados en vista de escritorio -->
    <div class="container-fluid d-none d-md-flex justify-content-center align-items-center">
      <div class="text-center mb-3">
          <img src="../img/LogoPrincipal.webp" width="150rem" class="img-fluid mt-2" alt="Logo Principal">
      </div>
      <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
          <h5 class="text-white mb-0"><b>DAL Gaming</b></h5>
          <h6 class="text-white mt-1 mb-0">Descubre el maravilloso del gaming.</h6>
      </div>
      <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
          <h5 class="text-white mb-0"><b>TecNM Campus Milpa Alta II</b></h5>
          <h6 class="text-white mt-1 mb-0">DAL Gaming - Todos los Derechos Reservados</h6>
      </div>
      <div class="text-center">
          <img src="../img/LogoGamer.webp" width="150rem" class="img-fluid" alt="Logo Gamer">
      </div>
    </div>
  </div>
  <!--Container Footer-->
  <!--Container De ID Son 4 Secciones-->
  <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
  <script src="../js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
  <script src="../js/mascaraDeCarga/jquery.blockUI.js"></script>
  <script src="../js/mascaraDeCarga/mascara.js"></script>
  <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
  <script src="../public/js/bootstrap/bootstrap.min.js"></script>
  <!-- AQUI SOLO SE TIENE QUE COLOCAR EL js DE LA LIBRERIA DE AOS ANIMATION -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- AQUI SE TIENE QUE COLOCAR LA INSTANCIA DE INICIO DEL AOS ANIMATION -->
  <script>
    AOS.init();
  </script>
</body>

</html>